ul{
list-style-type: none;
border: 5px solid #e7e7e7;
background-color: #e7e7e7;
overflow: 1px;
margin: 1px;

}
li{
    float: left;
}
.nav-right{
    float: right;
}
a{
text-decoration:none;
color: blue;

}
li a{
display:block;
color: cadetblue;
padding-left: 14px;
padding-right: 14px;
padding-top: 14px;
padding-bottom: 14px;
}
li a:hover{
background-color: lightgray;

}
li a.active 
{
background-color: lime;
color: maroon;
}

div{ 
    border: 5px;
    border-style: dashed;
    border-radius: 20px;
    box-shadow: 10px 10px 5px darkkhaki;
    background-image: linear-gradient(white,blue);

}
table{
    width:100%;
     border-collapse: collapse;

}
thead{
background-color: darkslateblue;
color: white;
}
thead tr{
    text-align: center;
}
tbody tr:nth-child(odd){
    background-color: lightskyblue;
}